.App {
  text-align: center;
}

.inputContainer{
  display: grid;
padding:10px;
}

form {
  display: grid;
  width: 30%;
  margin: auto;
}

table {
  padding-top:2rem;
  margin: auto;
  width: 38%;
}

.buttonContainer{
  width:10%;
  margin:auto;
  color: aqua;
}

